<section>
	<h2 id="about-me">About Myself</h2>
	<hr class="bar"/>
	<div class="about-lock">
		<div ontouchstart="this.classList.toggle('hover');" class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="face-img">
					</div>
				</div>
				<div class="back">
					<div class="face1-img">
					</div>
				</div>
			</div>
		</div>
	<div class="glyph-icon flaticon-cogwheel28"></div>
	<div class="glyph-icon flaticon-computer1"></div>
	<div class="glyph-icon flaticon-hosting"></div>
	<div class="glyph-icon flaticon-computers13"></div>
</div>
	<div class="blurb"><p>A total of 23 years of experience as <b>Income Tax Advocate</b>. Practicing in the city of <b>Bhagalpur</b>. Specializing in the field of Personal Income Tax Return, Partnership Taxation, Tax Compliance, Property Tax, Estate Tax Planning, Corporate Tax, Tax Advisory, Tax Law, Financial Analysis, Project Finance, Public Finance, Financial Risk, Financial Audits, Economics, Indian Taxation, Project Report for Finance, Income Tax scrutiny. Along with Tax research.</p>
		<p>Proactively Engaged with <b>GST Compliance</b> and <b>GST Return</B>
		</p></div><div class="skill-lock"></div></section>