<section class="section-contact">
	<h2 id="Details">Contact Details</h2>
	<hr class="bar"/>
	<div class="social-links">
		<a href="https://www.facebook.com/raj.kishor.5268">
			<div class="glyph-icon flaticon-facebook3">
			</div></a><a href="https://www.linkedin.com/in/dr-raj-kishor-24960b144/">
			<div class="glyph-icon flaticon-linkedin">
			{% comment %}</div></a><a href="https://github.com/bawn92">{% endcomment %}
			{% comment %}<div class="glyph-icon flaticon-github">{% endcomment %}
			</div>
		</a>
		{% comment %}<a href="https://www.youtube.com">
			<div class="glyph-icon flaticon-youtube31">{% endcomment %}
			</div></a></div><hr class="bar"/>
			<a href="drrajkishoradv@gmail.com" class="biglink">drrajkishoradv@gmail.com</a>
		</section>