<div class="history"><div class="cd-timeline-header">
	<h2 id="Experenice">Academic Qualification</h2>
	<hr class="bar"/>
</div>
<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="../assets/img/college.svg" alt="Picture"/>
		</div><!-- cd-timeline-img-->
		<div class="cd-timeline-content">
			<h2 class="story-heading">Ph.D in Money Market, TilkaManjhi Bhagalpur University</h2>
			<P align="center">Objective of the study to  to provide an overall framework of money market. To to trace historical growth and development of money market. To ecord the growth and development of Indian Money Market. To study General characteristics of money market instrument. To analyse the evolution of call loan operation in India. To know the conceptual framework of treasury bills. To describe the operational guidelines for bill re-discounting scheme. To discuss certificate of deposits.To tudy commercial papers and their guildlines and other current money market instruments currently in vogue in India. To examine money market instrument which are extensively used in developed money markets the world over. To assess the role of various institutions operating in Indian money market. To probe in detail the investment option available to money market mutual fund on various money market instrument and secondary market for these instruments.
			</P>
			<span class="cd-date">2000-05</span>
		</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div><div class="cd-timeline-block">
	<div class="cd-timeline-img cd-movie">
		<img src="../assets/img/idea14.svg" alt="College"/>
	</div><!-- cd-timeline-img-->
	<div class="cd-timeline-content">
		<h2>Bachelor of Law (L.L.B)</h2>
		<p align="center">Completed My L.L.B from Mahadev Singh Law College</p>
		<span class="cd-date">1994-97</span>
	</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
</div>
<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-picture">
		<img src="../assets/img/web-programming.svg" alt="Picture"/>
	</div><!-- cd-timeline-img-->
	<div class="cd-timeline-content">
		<h2>Indira Gandhi National Open University (IGNOU)</h2>
		<p align="center">Post Graduate Diploma in Finance Management.</p>
		<span class="cd-date">1993-94</span>
	</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
</div>
<div class="cd-timeline-block"><div class="cd-timeline-img cd-location">
	<img src="../assets/img/graduate38.svg" alt="Location"/>
</div><!-- cd-timeline-img--><div class="cd-timeline-content">
<h2>Masters in Commerce (M.COM)</h2>
<p>Studies Masters in Commerce from Marwari College.</p>
<span class="cd-date">1989-91</span>
</div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
<div class="cd-timeline-block"><div class="cd-timeline-img cd-location">
	<img src="../assets/img/hosting.svg" alt="Location"/>
</div><!-- cd-timeline-img-->
<div class="cd-timeline-content">
	<h2>Bachelor's in Commerce (B.COM)</h2>
	<p>Completed Bachelor's in Commerce from Marwari College, Bhagalpur.</p>
	<span class="cd-date">1985-89</span>
</div><!-- cd-timeline-content--><!-- cd-timeline-block-->
<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">
		<img src="../assets/img/question30.svg" alt="Location"/>
	</div>
</div><!-- cd-timeline-->
</div>
</section>
<div class="cd-timeline-header">
	<h2></h2></div></div>